body {
  background-image: url("../image/landing-page/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
}